@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .markdown {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mb-6 mt-12 font-bold tracking-tight text-gray-900;

      .hash-link {
        @apply select-none pl-1.5 opacity-0 transition-opacity before:content-['#'] hover:opacity-100;
      }
    }

    h2 {
      @apply text-xl sm:text-2xl;
    }

    h3 {
      @apply text-lg sm:text-xl;
    }

    h4 {
      @apply text-lg italic sm:text-xl;
    }

    h5 {
      @apply text-base sm:text-lg;
    }

    h6 {
      @apply text-base italic sm:text-lg;
    }

    p {
      @apply my-6 text-base leading-7 sm:text-lg sm:leading-8;
    }

    ol,
    ul {
      @apply my-6 ml-8 list-outside space-y-2 text-gray-600;
    }

    ol {
      @apply list-decimal;
    }

    ul {
      @apply list-disc;
    }

    li > p:only-child {
      @apply my-0;
    }
  }

  .static-page {
    p {
      @apply my-8 text-xl leading-8 sm:text-2xl sm:leading-9;
    }

    h2 ~ p,
    li p {
      @apply my-6 text-base leading-7 sm:text-lg sm:leading-8;
    }
  }
}

@layer utilities {
  .balanced {
    white-space: unset;
    text-wrap: balance;
  }

  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size:
      100% 2px,
      0 2px;
    background-position:
      100% 100%,
      0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size:
      0 2px,
      100% 2px;
  }
}

.calendly-spinner {
  display: none;
}
