@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .markdown {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mb-6 mt-12 font-bold tracking-tight text-gray-900;

      .hash-link {
        @apply select-none pl-1.5 opacity-0 transition-opacity before:content-['#'] hover:opacity-100;
      }
    }

    h2 {
      @apply text-xl sm:text-2xl;
    }

    h3 {
      @apply text-lg sm:text-xl;
    }

    h4 {
      @apply text-lg italic sm:text-xl;
    }

    h5 {
      @apply text-base sm:text-lg;
    }

    h6 {
      @apply text-base italic sm:text-lg;
    }

    p {
      @apply my-6 text-base leading-7 sm:text-lg sm:leading-8;
    }

    ol,
    ul {
      @apply my-6 ml-8 list-outside space-y-2 text-gray-600;
    }

    ol {
      @apply list-decimal;
    }

    ul {
      @apply list-disc;
    }

    li > p:only-child {
      @apply my-0;
    }

    pre {
      @apply overflow-x-auto rounded-xl bg-gray-50 p-3;
    }

    ::-webkit-scrollbar {
      @apply max-h-2;
    }

    ::-webkit-scrollbar-track {
      @apply rounded-xl bg-cornflower-blue-50;
    }

    ::-webkit-scrollbar-thumb {
      @apply rounded-xl bg-cornflower-blue-200;
    }

    ::-webkit-scrollbar-thumb:hover {
      @apply bg-cornflower-blue-300;
    }
  }

  .static-page {
    p {
      @apply my-8 text-xl font-medium leading-8 sm:text-2xl sm:leading-9;
    }

    h2 ~ p,
    li p {
      @apply my-6 text-base font-normal leading-7 sm:text-lg sm:leading-8;
    }
  }
}
